.hmul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.hmli {
  float: left;
}

.hmli a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

.hmli a:hover {
  background-color: #111;
  color: ivory;
  text-decoration: none;
}

.active {
  background: #89cff0;
  color: #111;
}

.bold {
  font-weight: bold;
}

sub {
  vertical-align: sub;
  font-size: small;
}
